

* {
  margin: 0;
  padding: 0;
}

.code {
  background:rgb(129, 134, 177);
  font-family: 'Audiowide', Helvetica;
  line-height: 26px;
  text-shadow: 0 0 0.4em #646183;
  padding:15px;
}

.bar{
  background: #140a4e;
  box-shadow: 0px 0px 0 #140a4e,
    0px 0px 4px #140a4e,
    0px 0px 8px #140a4e,
    0px 0px 16px #FFF;
  border-radius: 4px;
  position: absolute;
}
.left{
  width: 2px;
  -webkit-animation: left 10s linear infinite;
  -moz-animation: left 10s linear infinite;
}
@-webkit-keyframes left{
  0%  {height: 0; top: 100%; left: 0;}
  20% {height: 100%; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}
@-moz-keyframes left{
  0%  {height: 0; top: 100%; left: 0;}
  20% {height: 100%; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}
.top{
  height: 2px;
  -webkit-animation: top 10s linear infinite;
  -moz-animation: top 10s linear infinite;
}
@-webkit-keyframes top{
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100%; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100%;}
}
@-moz-keyframes top{
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100%; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100%;}
}


.cs{
  font-family: 'Audiowide', Helvetica;
  font-size: 3em;
  line-height: 20px;
  color:#140a4e;
  text-shadow: 0 0 0.4em #140a4e;
  padding-bottom:10px;
  padding-left:25px;
  margin-top:50px;
  margin-left:20%;
  margin-right: 20%;
  position:relative;
  z-index:4;
  border-bottom:3px dotted #E6E6E6;
  border-left:25px solid #E6E6E6;
  opacity:.9;
  //display:none;
}

@-webkit-keyframes blink{
  0%  {border-left:25px solid #E6E6E6;}
  50% {border-left:25px solid #222;}
  100% {border-left:25px solid #E6E6E6;}
}
@-moz-keyframes blink{
  0%  {border-left:25px solid #E6E6E6;}
  50% {border-left:25px solid #222;}
  100% {border-left:25px solid #E6E6E6;}
}

.cs:hover{
  opacity:1;
  text-shadow: 0 0 .6em #140a4e;
  -webkit-animation: blink 1s ease infinite;
  -moz-animation: blink 1s ease infinite;
}

p{
  color:##140a4e;
}

.circle.cir{
  position:absolute;
  left:13%;
  height:75px;
  width:75px;
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  background:#140a4e;
  z-index:4;
  box-shadow: 0px 0px 15px #140a4e;
}

.c{
  position:relative; 
  color:#ffff;
  font-size:3em;
  line-height: 27px;
  left:17px;
  top:25px;
  text-shadow: 0 0 0.4em #222;
}

.wrapper {
  width: 95%;
  padding: 1%;
  margin: 2% auto;
  border:1px solid #140a4e; 
  border-radius:5px;
  box-shadow: 0px 0px 15px #ffff;
  position:relative;
  z-index:2;
  background: ;
  opacity:.9;
  display: none;
  min-height: 500px;
}
.circle.one {
border: 15px solid;
top: -27px;
left: -27px;
position: absolute;
border-color: rgba(200,200,255,0.3) rgba(200,200,255,0.3) rgba(0,0,0,0) rgba(0,0,0,0);
border-radius: 50%;
margin: 0px;
height: 100px;
width: 100px;
z-index:-1;
  
 animation: move 10s ease infinite;
-moz-animation: move 10s ease infinite;
-webkit-animation: move 10s ease infinite;
-o-animation: move 10s ease infinite;
}

.circle.two {
border: 3px dotted;
padding: 0px;
margin: 0px;
border-color: rgba(200,200,255,0.3) rgba(200,200,255,0.3) rgba(0,0,0,0) rgba(0,0,0,0);
border-color:  rgba(0,0,0,0);
border-radius: 50%;
top: -66px;
left: -40px;
height: 150px;
width: 150px;
position:relative;  
  
animation: move 15s ease infinite;
-moz-animation: move 15s ease infinite;
-webkit-animation: move 15s ease infinite;
-o-animation: move 15s ease infinite;
}


.circle.three {
color: #000;
border: 25px solid;
padding: 0px;
margin: 10px;
position: absolute;
z-index:-1;
border-color: rgba(255,255,255,0.7) rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
border-radius: 50%;
top: -6px;
left: -6px;
height: 90px;
width: 90px;
animation: move 25s ease infinite;
-moz-animation: move 25s ease infinite;
-webkit-animation: move 25s ease infinite;
-o-animation: move 25s ease infinite;
}
 
@keyframes move
{
0%   {transform: rotate(0deg);}
50%{transform: rotate(200deg);}
100% {transform: rotate(0deg);}
}

@-webkit-keyframes move 
{
0%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center;}
50%{-webkit-transform: rotate(200deg); -webkit-transform-origin: center;}
100% {-webkit-transform: rotate(0deg); -webkit-transform-origin: center;}
}

@-moz-keyframes move 
{
0%   { -moz-transform: rotate(0deg);}
50%{ -moz-transform: rotate(200deg);}
100% { -moz-transform: rotate(0deg);}
}

@-o-keyframes move
{
0%   {-o-transform: rotate(0deg);}
50%{-o-transform: rotate(200deg);}
100% {-o-transform: rotate(0deg);}
}

/*menu stuff*/

.menu{
  margin:0 auto;
  padding:20px;
  margin-top:25px;
  display:none;
  width:20%;
  height:20px;
  text-align:center;
  background:rgba(28, 28, 88, 0.3);
  border-radius:4px;
  border:1px solid #140a4e;
  font-family: 'Lato', Helvetica;
  font-weight: 300;
  position:relative;
  color:#FFFFFF;
  z-index:3;
  opacity:.7;
  min-width:450px;
}
.menu:hover{
  text-shadow: 0 0 1em #FFF;
  color:#FFF;
}

#navButton {
  cursor:pointer;
  position:relative;
  display:block;
  margin:0 auto;
  margin-top:10px;
  width:130px;
  height:30px;
  color:#222;
  border-left:1px solid #FFF;
  border-top:1px solid #140a4e;
  box-shadow-left: 0px 0px 10px #404040;
  //background: #162020;
  border-radius:5px;
  text-align:center;
  margin-top:25px;
  //margin-bottom:25px;
  padding-top:5px;
  padding-left:3px;
  padding-right:3px;
  font-family: 'Lato', Helvetica;
  font-size: 25px;
  font-weight: 400;
  z-index:1;
}

#navButton:hover{
  text-shadow: 0 0 1em #FFF;
  color:#FFF;
}

a:link {
  text-decoration:none;
  color: #FFFFFF;
}
a:visited {text-decoration:none; color: #FFFFFF;}







