{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Codefury 4.0 | IEEE UVCE CS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/fav.png' %}" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!--Font awessome icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- AOSlibrary  -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- box icons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">




  <!-----<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">---->



  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    {% if message %}
    <script>
      alert('{{ message }}');
  </script>

{% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="z-index:2;">
    <div class="container d-flex align-items-center" id="navbarhead">

      <h1 class="logo me-auto"><a href="#">CODEFURY</a></h1>



      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#sponser">Sponsors</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#pastwinners">Past winners</a></li>
          <li><a class="nav-link scrollto" href="#deep-dive">Deep Dive</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#footercontact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- ======= Announcement Section ======= -->

  <div class="ranking" onclick="show_ann()" id="ex" style="z-index: 1;">
    <p class="toggle">
      <img src="{% static 'img/ann.svg' %}" aria-hidden="true"></i>
    </p>
  </div>
  <div class="toggle-content" id="example" style="z-index: 100;">
    <div class="cmd">

      <button class="bred" disabled></button>
      <button class="byellow" disabled></button>
      <button class="bgreen" disabled></button>
      <i class="fa fa-close" style="color:red;font-size:35px;cursor:pointer;z-index:100;float:right;"
        onclick="hide_ann()"></i>
      <p style="font-size:30px">Announcements</p>
      <p style="font-size:20px">
        {% if announcements %}
        {% for an in announcements %}
        {{an.date}}\{{an.time}}> {{an.title}}
      </p>
      {% endfor %}
      {% else %}
      <p style="font-size:20px">No announcements yet</p>
      <p style="font-size:20px">Stay tuned</p>
      {% endif %}

    </div>

  </div>
  <!-- ========= Social media handles =======-->



  <div id="circularMenu1" class="circular-menu circular-menu-left" style="z-index: 1;color: white;">

    <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
      <i class="fa fa-link"></i>
    </a>

    <menu class="items-wrapper">
      <a href="https://www.instagram.com/ieee.uvce.cs/" class="menu-item fa fa-instagram" target="_blank"></a>
      <a href="https://www.linkedin.com/in/ieee-uvce-66563332/" class="menu-item fa fa-linkedin" target="_blank"></a>
      <a href="https://www.facebook.com/Ieee.uvce.cs/" class="menu-item fa fa-facebook" target="_blank"></a>
      <a href="https://twitter.com/ieeeuvce" class="menu-item fa fa-twitter" target="_blank"></a>
    </menu>

  </div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">


    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center pt-4 pt-md-0 order-2 order-md-1"
          data-aos="fade-up" data-aos-delay="200">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt=""
            style="display: block; margin-left: auto;margin-right: auto; width: 70%;" id="heroimg">
          <!-- <a href="https://in.explara.com/e/codefury-4-0/checkout" target="_blank"> -->
          <!-- <div class="d-flex justify-content-center justify-content-lg-start " style="cursor:pointer;">
            <a href="https://in.explara.com/e/codefury-4-0/checkout" target="_blank" class="btn-get-started scrollto"
              id="regbtn" style="margin-top:-4vh">Register Now</a>
          </div> -->
          <!-- </a> -->
        </div>

        <div class="col-md-6 order-1 order-md-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <h2 class="name">IEEE UVCE Computer Society Presents</h2>
          <h1 class="name" id="glitchh">CODEFURY 4.0</h1>
          <br><br>

          <div class="d-flex justify-content-center justify-content-lg-start " style="cursor:pointer;">
            <a href="https://in.explara.com/e/codefury-4-0/checkout" target="_blank" class="btn-get-started scrollto"
              id="regbtn" style="margin-top:-4vh">Register Now</a>
          </div>
        </div>
      </div>
      <!-- Countdown -->




      <!-- <div id="timer" data-aos="fade-up">
        <div class="container col-l ">
          <div class="section-title">
            <br><br>
            <h5 id="timerh5">EVENT ENDS IN</h5>
          </div>
          <div id="countdown">

            <ul id="count_ul">
              <li><span id="days"></span>days</li>
              <li><span id="hours"></span>Hours</li>
              <li><span id="minutes"></span>Minutes</li>
              <li><span id="seconds"></span>Seconds</li>
            </ul>

            <br><br><br>
          </div>
        </div>
      </div> -->

    </div>

  </section><!-- End Hero -->



  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about" style="z-index:-9;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>README</h1>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              CodeFury is IEEE UVCE Computer Society's Annual National Level Hackathon.
              Our vision is to conduct Hackathons every year to help solve some of the major problems faced by society
              and the industry, thus ensuring a massive impact on the world.

            </p>

            <ul>
              <li><i class="bi bi-arrow-right"></i></i> Team size - 1 to 4.</li>
              <li><i class="bi bi-arrow-right"></i></i>First prize - Rs 10,000/-</li>
              <li><i class="bi bi-arrow-right"></i></i> Second prize - Rs 5,000/-</li>
            </ul>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Participants can sit in the comfort of their home and develop solutions to real-world problems
              by developing either a Web Application or an Android Application within 24 hours.
              Brace yourselves for one of the best events you've experienced so far.
              Mark your calendars on 2nd and 3rd October 2021 as we will be conducting CodeFury 4.0 on these days.
              Get a chance to compete against peers across the country and receive cash prizes too!

            </p>
            <!--
            <a href="https://calendar.google.com/calendar/u/0?cid=Y3MudXZjZS5pZWVlQGdtYWlsLmNvbQ" target="_blank"
              class="btn-learn-more">Add to calender</a>
              -->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->



    <!-- ======= sponsership Section ======= -->
    <section id="sponser" class="sponser section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h1>OUR SPONSORS</h1>
          <div class="flexrow">
            <div class="card">
              <div class="ccontent">
                <p class="ctitle">GeekforGeeks</p><br>
                <p class="des">GeeksForGeeks is an online platform that offers Free Tutorials, Millions of Articles, internship and job opportunities.</p>
                <a href="https://www.geeksforgeeks.org/" target="_blank"><button class="cbtn">Visit Website</button></a>
              </div>
            </div> 

            <div class="card">
              <div class="ccontent">
                <p class="ctitle">Tejas Networks</p><br>
                <p class="des">Tejas Networks is a global optical, broadband and data networking products company with a focus on deep technology and R&D.</p>
                <a href="https://www.tejasnetworks.com/" target="_blank"><button class="cbtn">Visit Website</button></a>
              </div>
            </div>

          </div>
        </div>

      </div>
      </div>
    </section> 
    <!-- End Cliens Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>Gallery</h1>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/1.webp' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/2.webp' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/3.webp' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/4.webp' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/5.webp' %}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'img/6.webp' %}" alt="Second slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
      </div>
    </section><!-- End Portfolio Section--->
    <section id="pastwinners" style="background-color: white;" data-aos="fade-up">
      <div class="container">
        <div class="section-title">
          <h1>Past Winners</h1>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/6CLkTQ7XFgI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <div class="col-md-6 col-12">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/VOZGf7CbHwE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Scroll of Honour Section ======= -->
    <section class="scroll" id="deep-dive">

      <div class="row">
        <div class="section-title">
          <h1>Deep Dive</h1>
        </div>
        <div class="pricing-column col-lg-3 col-md-6 col-md-12">
          <div class="card">

            <div class="card-header">
              <h4 style="text-align: center;">Team Re-member</h4>
            </div>

            <h5 style="text-align: center;">MS Ramaiah Institute of Technology</h5><br>
            <h5 style="text-align: center;">Winners <br> App Development</h5><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1"
              style="background-color: rgb(35, 61, 59);">
              Show more
            </button>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Team Insignia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   
                    <br>
                    <h4> Application Highlights:</h4>
                    <ul>
                      <p>Our app ‘PrepSetGo’ provides a platform for users to find communities(study groups) 
                        aligning with their courses of interest. The whole system is gamified to encourage
                        users to enjoy the process of learning. PrepSetGo keeps you engaged with various 
                        social features that make learning a fun journey you can embark on with your peers.
                        Communities are curated by the team and equipped with various resources, forums, and sub-groups wherein users
                        can branch into a voice chat or a GD.
                        LP - learning points are given to users who engage with the app on a daily basis, post questions, answer doubts, or create explore rooms.
                      </p>
                      <br>
                      <h6><a href="https://drive.google.com/drive/folders/1KnvnqOvl5IrWL5H8IIfOgTwwYsY4UOmt?usp=sharing"
"
                          target="_blank">Project link</a></h6>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-column col-lg-3 col-md-6 col-md-12">
          <div class="card">

            <div class="card-header">
              <h4 style="text-align: center;">Team Eduspired</h4>
            </div>

            <h5 style="text-align: center;">University Visvesvaraya College of Engineering</h5><br>
            <h5 style="text-align: center;">Runners <br> App Development</h5><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"
              style="background-color: rgb(35, 61, 59);">
              Show more
            </button>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Team Cache In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>
                      Key Features:
                    </h4>
                    <ul>
                      <li>
                        <p>Looking at the problem we have come across an app where a person can have an educational interaction with others.
                        The application serves as a standard bridge of communication between the people. The person can go and select their
                        fields and enjoy learning and expertise in that field
                        </p>
                      </li>
                      <li>
                        <p>Further, on the second page, there is a search bar where a person can search his own topics on his interests,
                        and on the home page, others can see how many of them have searched those topics recently.
                        </p>
                      </li>
                      <li>
                        <p>There is the main domain to perform where there are two options present selecting the files and uploading the files.
                        When a person searches a topic, he can upload the files and other people who are interested in the same domain.
                        </p>
                      </li>
                      <li>
                        <p>It has a download option and a chatting option. When a person uploads the file which he has then other people
                        can easily access those resources and download them. 
                        By doing the above process the chat box is activated between those people who have registered for the same course.
                        </p>
                      </li>
                      <li>
                        <p>A payment option is provided for the maintenance of our application.
                        </p>
             
                        </ul>             
                      <br>
                      <h6><a href="https://drive.google.com/drive/folders/1O4Tw30TKg0EmCNXtUXKGH2JxQmzSmedY?usp=sharing"
                          target="_blank">Project link</a></h6>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-column col-lg-3 col-md-6 col-md-12">
          <div class="card">

            <div class="card-header">
              <h4 style="text-align: center;">Team Binary Beast</h4>
            </div>

            <h5 style="text-align: center;">MS Ramaiah Institute of Technology</h5><br>
            <h5 style="text-align: center;">Winners <br> Web Development</h5><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3"
              style="background-color: rgb(35, 61, 59);">
              Show more
            </button>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Team Alberbolt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Key Features</h4>
                    <ul>
                      <li>
                        <p>Pathshala is a collaborative virtual learning platform that aims to overcome the existing problems 
                        such as finding like-minded peers/groups based on specific interests, filtering through the available
                        plethora of online resources, and not being able to be consistent enough to achieve goals.</p>
                      </li>
                      <li>
                        <p>To make the online group search hassle-free recommendation system is implemented wherein the
                        student would be recommended a set of groups based on his/her weaknesses, along with a feature to form their own groups.</p>
                      </li>
                        <li>
                        <p>As friends help in keeping the sessions lively, Pathshala provides
                        a feature to interact with fellow group members through chats and live streaming to promote collaborative learning. 
                        </p>
                      </li>
                          <li>
                        <p>The next major thing is how does one stay motivated enough to achieve the goals?
                        And that is where Streaks’ feature comes into play. There are rewards on every 24-hour
                        login of each student and using certain credit students can unlock the paid resources.
                        </p>
                      </li>

                    </ul><br>
                    <h6><a href=" https://drive.google.com/drive/folders/18MNOS1bGhzUzDREUOlqNoggl_dpyLrqM"
                        target="_blank">Project link</a></h6>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="pricing-column col-lg-3 col-md-6 col-md-12 ">
          <div class="card">

            <div class="card-header">
              <h4 style="text-align: center;">Team StudyChain</h4>
            </div>

            <h5 style="text-align: center;">St Joseph's College of Engineering</h5><br>
            <h5 style="text-align: center;">Runners <br> Web Development</h5><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4"
              style="background-color: rgb(35, 61, 59);">
              Show more
            </button>

            <!-- Modal -->
            <div class="modal fade " id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Team Tesseract</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>
                      Key Features:
                    </h4>
                    <br>
                    <ul>
                      <li>
                        <p>StudyChain incorporates machine learning in order to analyze the learner’s 
                        performance to map better-curated content by means of a HEAP (Heuristic evaluation and analysis of learner performance ) measure. </p>
                      </li>
                      <li>
                        <p>The website in order to truly support peer-to-peer learning incorporates blockchain
                        technology to maintain the authenticity of the user by means of a rating system while maintaining user anonymity and data security. </p>

                      <li>
                        <p>Even if learners with similar aspirations are separated by physical distance, StudyChain offers video, audio,
                        and text-based communication services to bridge the gap. Video is implemented with webRTC and Text is implemented via web sockets. </p>
                      </li>
                      <li>
                        <p>Time management is highly crucial for learning and hence, Pomodoro timer is embedded in our platform. </p>
                      </li>
                         <li>
                        <p>The platform offers paid services and provides a payment gateway. 
                        The curators can teach sessions and be paid by their peer group via Razorpay.</p>
                      </li>
                    </ul>
                    <br>
                    <h6><a href="https://drive.google.com/drive/folders/13THarYc0GDkdsO7lspD213eM3tRu2_l0?usp=sharing"
                        target="_blank">Project link</a></h6>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

    </section>
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1>Frequently Asked Questions</h2>

        </div>

        <div class="faq-list">
          <ul>
            {% for faq in faqs %}
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                data-bs-target="#faq-list-{{faq.id}}">{{faq.question}} <i class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-{{faq.id}}" class="collapse {% if faq.id == 1 %} show {% endif %}"
                data-bs-parent=".faq-list">
                <p>
                  {{faq.answer | safe | linebreaks }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footercontact">
    <div data-aos="fade-up" id="contact">
      <div class="main-content p-1">
        <div class="left box">
          <h2>About us</h2>
          <div class="content">
            <p>Computer Society is one of the most prominent
              societies that comes under IEEE UVCE. It acts as a great platform for students
              of all branches to learn more and contribute to the computing world. Computer
              Society has been conducting many events since its inception which includes the
              Annual National level hackathon CodeFury, the monthly coding competition NCode and
              several workshops to kindle students' interest to update
              their knowledge on new upcoming technological advances and improve their programming skills as well.</p>
          </div>
        </div>
        <div class="center box">
          <h2>Contact</h2>
          <div class="content">
            <div class="place">

              <a href="https://goo.gl/maps/P43RC7Qphrq" target="_blank" style="color: white;">
                <i class="fas fa-map-marker-alt"></i>
                <span class="text"> UVCE, K R Circle, Bengaluru</span></a>

            </div>
            <div class="phone">
              <a id="call" href="tel:+91 91135 49338" style="color: white;">
                <i class="fas fa-mobile-alt"></i>
                <span class="text">+91 91135 49338</span></a>
            </div>
            <div class="email">
              <a href="mailto:cs.uvce.ieee@gmail.com " target="_blank" style="color: white;">
                <i class="fas fa-envelope"></i>
                <span class="text">cs.uvce.ieee@gmail.com</span></a>
            </div>
          </div>
        </div>
        <div class="right box">
          <h2>Contact us</h2>
          <div class="content">

            <form class="" method="POST">
              <div class="form-group">
                {{form|crispy}}
              </div>
              <br>
              <button type="submit" name="check" id="itscorrect" class="btn btn-dark"
                style="margin-top: -28px;">Send</button>
            </form>

          </div>
        </div>

      </div>

      <div class="bottom">
        <center>
          <span class="credit">Created by <a href="http://www.ieeeuvce.in/" target="_blank">IEEE UVCE</a>
            © 2021 - All rights reserved.</span>

        </center>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>

</body>

</html>
