{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Codefury</title>
  <link rel="styleshee" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<div class= "code">
<!-- partial:index.partial.html -->
<div class="menu">
  <a href="#">Home</a> | 
  <a href="#">Computers</a> | 
   <a href="#">Design</a> | 
  <a href="#">Resume</a> | 
  <a href="#">Contact</a>
</div>

<p id="wrap">
  <div id="navButton" class="closed">- Menu -
  <div class="bar left"></div>
  <div class="bar top"></div>
  <div class="bar right"></div>
  <div class="bar bottom"></div>
</div>
</p>

<h1 class="cs">CODEFURY</h1>

<div class="circle cir"><p class="c">C</p>
<div class="circle one"></div>
<div class="circle two">
    <div class="circle three">
</div>
</div>
</div>

<div class="wrapper">
  <div class="bar left"></div>
  <div class="bar top"></div>
  <div class="bar right"></div>
  <div class="bar bottom"></div>
         
  <div class="clear"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{% static 'js/script.js' %}"></script>

</div>
</html>
